.author a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--dark-color);
}

.author__thumbnail {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-2);
  overflow: hidden;
  position: relative;
}

.author__info {
  display: flex;
  flex-direction: column;
}

.author__info small:first-child {
  font-weight: 600;
}
