.post__detail {
  margin-top: 2rem;
  width: 75%;
  margin-inline: auto;
  background-color: var(--light-color);
  border-radius: var(--border-radius-2);
  padding-block: 2rem;
  padding-inline: 3rem;
}

.author {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}

.post__body h2 {
  margin-bottom: 1rem;
  line-height: 1.3;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
}

.content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .post__detail {
    width: 90%;
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .post__detail {
    width: 95%;
    padding-inline: 1rem;
  }
}
